In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [ ]:
data = pd.read_csv(r'C:\Users\assem\SkillFactory AI\movie_bd_v5.csv')
data.sample(5)

In [ ]:
data.describe()

# Предобработка

In [ ]:
answers = {}

# to find out the profit of movies we need to add a new column
# it wiil be the difference between revenue and budget of movie
data['profit'] = data.revenue - data.budget

# function that gets the key with the required characteristics from a dict
# it used to answer the questions 11,12,14,17


def get_key(d, value):
    for k, v in d.items():
        if v == value:
            return k


# in questions 15,16,27 we will need to use actors separately
# I don't want to change an original data
# so I copied the data with columns required for solutions
data2 = data[['imdb_id', 'budget', 'revenue',
              'original_title', 'release_year', 'cast']].copy()
data2['cast'] = data2.cast.str.split('|')
data2 = data2.explode('cast')

# and in questions 24,25 we will need to use production companies separately
# so I added to data2 a new column
data2['production_company'] = data.production_companies.str.split('|')
data2 = data2.explode('production_company')

# for the questions 21, 22, 23 we need to use months' numbers
# the time given in the dataset is in string format.
# So we need to change this in datetime format
# and create a new column which include only month's number
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [ ]:
# +
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [ ]:
data[data.budget == data.budget.max()]

Вариант 2

In [ ]:
# optimal solution (because of its output)
data[['original_title', 'imdb_id', 'budget']].sort_values(
    ['budget'], ascending=False).head(1)

# 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
# +
answers['2'] = '2. Gods and Generals (tt0279111)'

In [ ]:
data[data.runtime == data.runtime.max()]

Вариант 2

In [ ]:
# optimal solution (because of its output)
data[['original_title', 'imdb_id', 'runtime']].sort_values(
    ['runtime'], ascending=False).head(1)

# 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
# +
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [ ]:
data[data.runtime == data.runtime.min()]

In [1]:
data.loc[data.runtime == data.runtime.min(), 'original_title'].values[0]

NameError: name 'data' is not defined

Вариант 2

In [13]:
# optimal solution (because of its output)
data[['original_title', 'imdb_id', 'runtime']].sort_values(['runtime']).head(1)

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

# 4. Какова средняя длительность фильмов?

In [14]:
# +
answers['4'] = '2. 110'

In [15]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [16]:
# +
answers['5'] = '1. 107'

In [17]:
int(np.median(data.runtime))

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
# +
answers['6'] = '5. Avatar (tt0499549)'

In [19]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847,12

Вариант 2

In [20]:
# optimal solution (because of its output)
data[['original_title', 'imdb_id', 'profit']].sort_values(
    ['profit'], ascending=False).head(1)

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

# 7. Какой фильм самый убыточный?

In [21]:
# +
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [22]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7

Вариант 2

In [23]:
# optimal solution (because of its output)
data[['original_title', 'imdb_id', 'profit']].sort_values(['profit']).head(1)

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [24]:
# +
answers['8'] = '1. 1478'

In [25]:
len(data[data.profit >0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [26]:
# +
answers['9'] = '4. The Dark Knight (tt0468569)'

In [27]:
data.loc[data['release_year'] == 2008][[
    'original_title', 'imdb_id', 'revenue']].head(1)

      original_title    imdb_id     revenue
599  The Dark Knight  tt0468569  1001921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [28]:
# +
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [29]:
data[(data.release_year >= 2012) & (data.release_year <= 2014)
     & (data.profit == data.profit.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7

Вариант 2

In [30]:
# optimal solution (because of its output)
data.loc[(data.release_year >= 2012) & (data.release_year <= 2014)][[
    'original_title', 'imdb_id', 'profit']].sort_values(['profit']).head(1)

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

# 11. Какого жанра фильмов больше всего?

In [31]:
# +
answers['11'] = '3. Drama'

In [32]:
# convert every row in 'genres' column into a list
genre_list = data['genres'].str.cat(sep='|').split('|')
genres = {}
number = 0  # initialize the counter

# by iterating created list we added genres as keys
# and their quantity as values to an empty dictionary
for genre in genre_list:
    number = genre_list.count(genre)
    genres.setdefault(genre, number)

# convert created from dictionary dataframe and sort by quantity
print(pd.DataFrame(list(genres.items()), columns=[
      'Genre', 'Number']).sort_values(['Number'], ascending=False).head(1))

   Genre  Number
7  Drama     782

Вариант 2

In [33]:
# more optimal solution (because of code's length)

# convert every row in 'genres' column into a list
genre_list = data.genres.str.split('|')

# use most_common() method to created Counter dict
Counter(genre_list.sum()).most_common(1)

[('Drama', 782)]

Вариант 3

In [34]:
# optimal solution (I like it more because of its short output)

# convert every row in 'genres' column into a list
# change Counter dict to dict format
genre_list = data.genres.str.split('|')
genre_dict = dict(Counter(genre_list.sum()))

# use a 'get_key' function to get a required key
get_key(genre_dict, max(genre_dict.values()))

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [35]:
# +
answers['12'] = '1. Drama'

In [36]:
# create a dataframe with values above zero from data's column 'profit'
movies = data[data.profit > 0]
profit_movies = movies['genres'].str.cat(sep='|').split('|')
genres = {}
number = 0  # initialize the counter

# by iterating created list we added genres as keys
# and their quantity as values to an empty dictionary
for genre in profit_movies:
    number = profit_movies.count(genre)
    genres.setdefault(genre, number)

# convert created from dictionary dataframe and sort by quantity
print(pd.DataFrame(list(genres.items()), columns=[
      'Genre', 'Number']).sort_values(['Number'], ascending=False).head(1))

   Genre  Number
7  Drama     560

Вариант 2

In [37]:
# more optimal solution (because of code's length)

# convert every row in 'genres' column (which meets requirements) into a list
profit_movies_list = data[data.profit > 0].genres.str.split('|')

# use most_common() method to created Counter dict
Counter(profit_movies_list.sum()).most_common(1)

[('Drama', 560)]

Вариант 3

In [38]:
# optimal solution (I like it more because of its short output)

# convert every row in 'genres' column (which meets requirements) into a list
# convert a Counter dict to a dict format
profit_movies_list = data[data.profit > 0].genres.str.split('|')
profit_movies_dict = dict(Counter(profit_movies_list.sum()))

# use a 'get_key' function to get a required key
get_key(profit_movies_dict, max(profit_movies_dict.values()))

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [39]:
# +
answers['13'] = '5. Peter Jackson'

In [40]:
data.groupby(['director'])[['revenue']].sum().sort_values(
    ['revenue'], ascending=False).head(1)

                  revenue
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [41]:
# +
answers['14'] = '3. Robert Rodriguez'

In [42]:
# more optimal solution (because of code's length)

# sort 'genres' column and convert to a list
director_list = data[data['genres'].str.contains(
    'Action')].director.str.split('|')

# use most_common() method to created Counter dict
Counter(director_list.sum()).most_common(1)

[('Robert Rodriguez', 9)]

Вариант 2

In [43]:
# optimal solution (I like it more because of its short output)

# sort 'genres' column and convert to a list
# convert a Counter dict to a dict format
director_list = data[data['genres'].str.contains(
    'Action')].director.str.split('|')
director_dict = dict(Counter(director_list.sum()))

# use a 'get_key' function to get a required key
get_key(director_dict, max(director_dict.values()))

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [44]:
# +
answers['15'] = '3. Chris Hemsworth'

In [45]:
data2[data2.release_year == 2012].groupby(
    by='cast')['revenue'].sum().sort_values(ascending=False).head(1)

cast
Anne Hathaway    6091404228
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [46]:
# +
answers['16'] = '3. Matt Damon'

In [47]:
data2[data2.budget > data2.budget.mean()].groupby(
    by='cast')['original_title'].count().sort_values(ascending=False).head(1)

cast
Matt Damon    76
Name: original_title, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [48]:
# +
answers['17'] = '2. Action'

In [49]:
# sort 'cast' column and convert to a list
# convert a Counter dict to a dict format
Cage_list = data[data['cast'].str.contains(
    'Nicolas Cage')].genres.str.split('|')
Cage_dict = dict(Counter(Cage_list.sum()))

# use a 'get_key' function to get a required key
get_key(Cage_dict, max(Cage_dict.values()))

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [50]:
# +
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [51]:
data[data['production_companies'].str.contains('Paramount Pictures')].groupby(
    ['original_title', 'imdb_id'])[['profit']].sum().sort_values(['profit']).head(1)

                                  profit
original_title       imdb_id
K-19: The Widowmaker tt0267626 -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [52]:
# +
answers['19'] = '5. 2015'

In [53]:
data.groupby(by='release_year')['revenue'].sum(
).sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [54]:
# +
answers['20'] = '1. 2014'

In [55]:
data[data['production_companies'].str.contains('Warner Bros')].groupby(by='release_year')[
    ['profit', 'revenue']].sum().sort_values(['profit'], ascending=False).head(1)

                  profit     revenue
release_year
2014          2295464519  3243064519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [56]:
# +
answers['21'] = '4. Сентябрь'

In [57]:
data.groupby(by='month')['imdb_id'].count(
).sort_values(ascending=False).head(1)

month
9    227
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [58]:
# +
answers['22'] = '2. 450'

In [59]:
data.month[(data.month == 6) | (data.month == 7) | (data.month == 8)].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [60]:
# +
answers['23'] = '5. Peter Jackson'

In [61]:
data[(data.month == 12) | (data.month == 1) | (data.month == 2)].groupby(
    by='director')['imdb_id'].count().sort_values(ascending=False).head(1)

director
Peter Jackson    7
Name: imdb_id, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [62]:
# +
answers['24'] = '5. Four By Two Productions'

In [63]:
# add to data2 a new column to calculate length of movie title
data2['length'] = data2.original_title.str.len()

data2.groupby(['production_company'])[['length']].mean(
).sort_values(by='length', ascending=False).head(1)

                         length
production_company
Four By Two Productions    83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [64]:
# +
answers['25'] = '3. Midnight Picture Show'

In [65]:
# add to data2 a new column to calculate length
# of movie's overview (by word count)
data2['overview_length'] = data.overview.map(lambda x: len(x.split(' ')))

data2.groupby(['production_company'])[['overview_length']].mean(
).sort_values(by='overview_length', ascending=False).head(1)

                       overview_length
production_company
Midnight Picture Show            175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [66]:
# +
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [67]:
# first of all, we need to find out the level
# of the column 'vote_average', that inaccessible to other 99%
np.quantile(data['vote_average'], 0.99)

7.8

In [68]:
# then, we can display some of the 1% of Top-Rated movies
data[data.vote_average >= 7.8].groupby(by='original_title')[
    'revenue'].sum().sort_values(ascending=False).head(15)

original_title
The Lord of the Rings: The Return of the King        1118888979
The Dark Knight                                      1001921825
The Lord of the Rings: The Two Towers                 926287400
The Lord of the Rings: The Fellowship of the Ring     871368364
Inside Out                                            853708609
Inception                                             825500000
Guardians of the Galaxy                               773312399
Big Hero 6                                            652105443
Interstellar                                          621752480
The Wolf of Wall Street                               392000694
Gone Girl                                             369330363
The Fault in Our Stars                                305151265
The Imitation Game                                    233555708
12 Years a Slave                                      187000000
The Grand Budapest Hotel                              174600318
Name: revenue, dtype: int64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [69]:
# +
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [71]:
# create a new column with converted each 'cast' row into list
data['cast_list'] = data.cast.str.split('|')
together_list = []  # create an empty list for all cast combinations

# by iterating column 'cast_list' in data 2 and using itertools
# create lists of all cast combinations for each row
# add all new lists to an empty list
for row in data['cast_list']:
    together = list(itertools.combinations(row, 2))
    together_list.extend(together)

# convert filled list to a dataframe
# and return the most frequent combinations
filming_together = pd.Series(together_list)
filming_together.value_counts().head()

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
dtype: int64

# Submission

In [72]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [73]:
# и убедиться что ни чего не пропустил)
len(answers)

27